// intentionally blank

// center Auth div
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
  overflow: hidden;
  scrollbar-width: thin;
  padding-left: 00px;
  padding-top: 64px;
}