.test {
    color: red;
}

button {
    cursor: pointer;
    user-select: none;
}


button.action-delete {
    filter: grayscale(100%);
}

button.action-delete:hover {
    filter: grayscale(0%);
}

button.action-delete:active {
    filter: grayscale(50%);
}

button.auth {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    &:hover {
        background-color: #000;
        color: #f5f5f5;
    }
}

button.auth.discord {
    background-color: #7289da;
    border: 1px solid #7289da;
    color: #f5f5f5;
    &:hover {
        background-color: #f5f5f5;
        color: #000;
    }
}

// mousedown, mouseup, mouseover, mouseout
button.auth.discord:active {
    background-color: #f5f5f5;
    color: #7289da;
}

button.auth.google {
    background-color: #db4437;
    border: 1px solid #db4437;
    color: #f5f5f5;
    &:hover {
        background-color: #f5f5f5;
        color: #000;
    }
}

button.auth.github {
    background-color: #24292e;
    border: 1px solid #24292e;
    color: #f5f5f5;
    &:hover {
        background-color: #f5f5f5;
        color: #000;
    }
}

button.logout {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    &:hover {
        background-color: #000;
        color: #f5f5f5;
    }
}



button.copy {
    background-color: #333333;
    color: whitesmoke;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}


button.copy:active {
    background-color: #777777;
}

button.create {
    background-color: green;
    color: whitesmoke;
    border: darkgreen 1px solid;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
}

button.create:hover {
    background-color: #3333ff;
}

button.create:active {
    background-color: #6666ff;
}



button.destroy {
    background-color: #ff0000;
    color: whitesmoke;
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button.destroy:hover {
    background-color: #ff3333;
}

button.destroy:active {
    background-color: #ff6666;
}   

button.save {
    background-color: #00ff00;
    color: #333333;
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button.save:hover {
    background-color: #33ff33;
}

button.save:active {
    background-color: #66ff66;
}


button > img.icon {
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
}

button.btn-close {
    filter: invert(1);
}