.profile-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.profile-info {
    .username {
        font-weight: bold;
    }
}

.profile-toggle {
    cursor: pointer;
}